.auth-container{
  background: linear-gradient(to right,#FEAF00,#F8D442)
}

.sidebar-container .ps-sidebar-container{
    background-color:#F2EAE1;
    height: 100vh;
    padding: 0 20px;
}

.sidebar-container .ps-menu-button{
  transition: all 1s;
}


.sidebar-container .ps-menu-button:hover{
    background-color: #FEAF00 !important;
    color:black;
    border-radius: 5px;
}